MONGO_INITDB_ROOT_USERNAME=itcp_root
MONGO_INITDB_ROOT_PASSWORD=CHANGE_ME_LONG_URL_SAFE_ROOT_PASSWORD
MONGO_INITDB_DATABASE=itcp_training

MONGO_APP_DATABASE=itcp_training
MONGO_APP_USERNAME=itcp_training_app
MONGO_APP_PASSWORD=CHANGE_ME_LONG_URL_SAFE_APP_PASSWORD
